:root {
	
}

.nuity-label {
	opacity:1;
	color: black;
}

#root-container {
    flex-direction: row
}



#option-container {
	opacity: 1;
	flex-direction:row-reverse;
}

#game-quit-button {
	width: 100px;
	height: 100px;
}